.Appbar-Main{
    background-color: #0067A3;
    width:100%;
    height:40px;
    display:flex;
    padding-left:10px;
    padding-top:10px;
    padding-right:10px;
    
    text-align: center;
    justify-content: space-between
    
}