.exam-shadow{
    -webkit-box-shadow: -4px -2px 14px -4px rgba(56,51,56,1);
-moz-box-shadow: -4px -2px 14px -4px rgba(56,51,56,1);
box-shadow: -4px -2px 14px -4px rgba(56,51,56,1);
border-radius:20px
}