.homeMainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row1InHome {
  background-image: url("./home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ant-carousel {
  width: 400px;
  max-width: 100%;
}
