.portiontaken {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 12px;
  width: 100%;
  margin: auto;
  margin-top: 4px;
  overflow-y: auto;
  word-wrap: break-word;
}
.daily-report {
  margin: auto;
  padding: 12px;
  justify-content: space-around;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 360px;
}
