body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.common-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 5px;
  margin-left: 5px;
}
.common-card {
  width: 360px;
  max-width: 100%;
  height: auto;
  margin: 5px;
  display: flex;
  padding: 15px;
  background-color: white;
  border: 1px solid #e3e3e3;
}
